@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;

}

body{
  background-color: #000000e1;
  width: 100vw;
  overflow-x: hidden;
}
/*
background-color: #4F3DFF;
background-color: #ff009deb;
color: #000000e1;
760px
440px
560px
672px
*/